.booze-header-container {
    background-color: #AA2E00 !important;
    height: 100px;
    vertical-align: middle !important;
}

.booze-header-text {
    color: white;
    margin-top: auto !important;
    margin-bottom: auto !important;
    margin-left: 65px;
}

.booze-header-text:hover{
    cursor: pointer;
}

.booze-header-text-right{
    color: white;
    margin-right: 65px;
}

.booze-header-text-right:hover{
    cursor: pointer;
}

.store-listing-container {
    margin-left: 65px;
    margin-right: 65px;
}

.results {
    margin: 0 auto !important;
    position: inherit !important;
}

.listing-segment{
    background:linear-gradient(to left,#AA2E00,transparent) !important;
}

.listing-segment:hover{
    cursor: pointer;
    opacity: 80%;
}

.boozemap{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}